$darkBlue: hsl(240, 38%, 20%);
$grayishBlue: hsl(240, 18%, 77%);

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Inter", sans-serif;
}

@media screen and (min-width: 42.1875em) {
}
