$darkBlue: hsl(240, 38%, 20%);
$grayishBlue: hsl(240, 18%, 77%);

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Inter", sans-serif;
}

.btns {
  .prev-btn,
  .next-btn {
    padding: 1rem;
    border: none;
  }
  .prev-btn {
    border-radius: 30px 0 0 30px;
    &:hover {
      background-color: darken($color: #efefef, $amount: 5%);
    }
  }
  .next-btn {
    border-radius: 0 30px 30px 0;
    &:hover {
      background-color: darken($color: #efefef, $amount: 5%);
    }
  }
  .prev-btn:active,
  .next-btn:active {
    transform: translateY(5px);
    box-shadow: 0 3px rgba(0, 0, 0, 0.2);
  }
}

@media screen and (min-width: 42.1875em) {
}
